doctype html
html(lang="ru")
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  title Главная  
  link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&amp;subset=cyrillic' rel='stylesheet')
  link(href="js/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet")
  link(href="js/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet")
  link(rel='stylesheet' href='styles/style.css')
  
include template/header.pug 
.content.catalog
  .catalog--header
    a(href="#").down Все товары
    h2.title Корм
    .click-filters
      .sort
        a(href="#").active дешёвые
        a(href="#") дорогие
        a(href="#") популярные      
      .position
        a(href="#").multi-colons
        a(href="#").with-options
        a(href="#").short-list
      //- 

  include template/filters.pug 

include template/footer.pug

script(src="js/jquery/dist/jquery.min.js")
script(src="js/owl.carousel/dist/owl.carousel.min.js")
script(src="js/main.js")