doctype html
html(lang="ru")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width")
    title Подкаталог  
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&amp;subset=cyrillic' rel='stylesheet')
    link(href="js/remodal/remodal.css" rel="stylesheet")
    link(href="js/remodal/remodal-default-theme.css" rel="stylesheet")
    link(rel='stylesheet' href='styles/style.css')
    
  include template/header.pug
  .catalog-page--header
    a(href="#").down Все товары 
    h1.title Корм
    .presets
      a(href="#") Поилки ниппельные
      a(href="#") Каплеуловители
      a(href="#") Поилки чашечные
      a(href="#").current Выбрано
      a(href="#") Поилки колокольные автоматические
      a(href="#") Регуляторы давления и деаэраторы
      a(href="#") Комплектующие и запчасти
      a(href="#") Емкости для воды
  main.content.catalog-page
    .click-filters
      .sort
        a(href="#").active дешёвые
        a(href="#") дорогие
        a(href="#") популярные      
      .position
        a(href="#").multi-colons.active
        a(href="#").with-options
        a(href="#").short-list
    include template/filters.pug
    .product-items.multi-colons    
      .product-item.best
        .product-item-content
          .img(data-label="ЛУЧШЕЕ ПРЕДЛОЖЕНИЕ")
            img(src="img/content/main/item--3.jpg" alt="")
          .text
            p Обменная энергия, мин 12,55<br>(3000) МДж/кг (Ккал/кг)
            p Сырой протеин, мин 16%
            p Сырой жир, мин 2,5%
            p Сырая клетчатка, мин 0,65%
            p Кальций, мин 0,65 %
            p Фосфор, мин 0,4%
            p Обменная энергия, мин 12,55<br>(3000) МДж/кг (Ккал/кг)
            p Сырой протеин, мин 16%
            p Сырой жир, мин 2,5%
            p Сырая клетчатка, мин 0,65%
            p Кальций, мин 0,65 %
            p Фосфор, мин 0,4%
            a(href="#") К сравнению
          a(href="#").title.
            БВМД Purina® 25 % ЭКО Универсальный для мясной птицы
          .price.
            2 150 руб.
          a(href="#").cart: p В корзину    
      .product-item.circle
        .product-item-content
          .img
            img(src="img/content/main/item--2.jpg" alt="")
          .text
            p Обменная энергия, мин 12,55<br>(3000) МДж/кг (Ккал/кг)
            p Сырой протеин, мин 16%
            p Сырой жир, мин 2,5%
            p Сырая клетчатка, мин 0,65%
            p Кальций, мин 0,65 %
            p Фосфор, мин 0,4%
            a(href="#") К сравнению
          a(href="#").title.
            Комбикорм Purina® Финишер для водоплавающей птицы
          .price.
            2 150 руб.
          a(href="#").cart: p В корзину
      .product-item
        .product-item-content
          .img
            img(src="img/content/main/item--3.jpg" alt="")
          .text
            p Обменная энергия, мин 12,55<br>(3000) МДж/кг (Ккал/кг)
            p Сырой протеин, мин 16%
            p Сырой жир, мин 2,5%
            p Сырая клетчатка, мин 0,65%
            p Кальций, мин 0,65 %
            p Фосфор, мин 0,4%
            p Обменная энергия, мин 12,55<br>(3000) МДж/кг (Ккал/кг)
            p Сырой протеин, мин 16%
            p Сырой жир, мин 2,5%
            p Сырая клетчатка, мин 0,65%
            p Кальций, мин 0,65 %
            p Фосфор, мин 0,4%
            a(href="#") К сравнению
          p.title.
            БВМД Purina® 25 % ЭКО Универсальный для мясной птицы
          .price.
            2 150 руб.
          a(href="#").cart: p В корзину
      .product-item.new
        .product-item-content
          .img(data-label="НОВИНКА")
            img(src="img/content/main/item--4.jpg" alt="")
          .text
            p Обменная энергия, мин 12,55<br>(3000) МДж/кг (Ккал/кг)
            p Сырой протеин, мин 16%
            p Сырой жир, мин 2,5%
            p Сырая клетчатка, мин 0,65%
            p Кальций, мин 0,65 %
            p Фосфор, мин 0,4%
            a(href="#") К сравнению
          a(href="#").title.
            Комбикорм Purina® Финишер для водоплавающей птицы Комбикорм Purina® Финишер для водоплавающей птицы Комбикорм Purina® Финишер для водоплавающей птицы Комбикорм Purina® Финишер для водоплавающей птицы Комбикорм Purina® Финишер для водоплавающей птицы
          .price.
            2 150 руб.
          a(href="#").cart: p В корзину
      .product-item.best
        .product-item-content
          .img(data-label="ЛУЧШЕЕ ПРЕДЛОЖЕНИЕ")
            img(src="img/content/main/item--3.jpg" alt="")
          .text
            p Обменная энергия, мин 12,55<br>(3000) МДж/кг (Ккал/кг)
            p Сырой протеин, мин 16%
            p Сырой жир, мин 2,5%
            p Сырая клетчатка, мин 0,65%
            p Кальций, мин 0,65 %
            p Фосфор, мин 0,4%
            p Обменная энергия, мин 12,55<br>(3000) МДж/кг (Ккал/кг)
            p Сырой протеин, мин 16%
            p Сырой жир, мин 2,5%
            p Сырая клетчатка, мин 0,65%
            p Кальций, мин 0,65 %
            p Фосфор, мин 0,4%
            a(href="#") К сравнению
          a(href="#").title.
            БВМД Purina® 25 % ЭКО Универсальный для мясной птицы
          .price.
            2 150 руб.
          a(href="#").cart: p В корзину
      .product-item.new.circle
        .product-item-content
          .img(data-label="НОВИНКА")
            img(src="img/content/main/item--5.jpg" alt="")
          .text
            p Обменная энергия, мин 12,55<br>(3000) МДж/кг (Ккал/кг)
            p Сырой протеин, мин 16%
            p Сырой жир, мин 2,5%
            p Сырая клетчатка, мин 0,65%
            p Кальций, мин 0,65 %
            p Фосфор, мин 0,4%
            a(href="#") К сравнению
          a(href="#").title.
            БМВК Purina 15% ЭКО для яичной птицы
          .price.
            2 150 руб.
          a(href="#").cart: p В корзину
      .product-item.best
        .product-item-content
          .img(data-label="ЛУЧШЕЕ ПРЕДЛОЖЕНИЕ")
            img(src="img/content/main/item--3.jpg" alt="")
          .text
            p Обменная энергия, мин 12,55<br>(3000) МДж/кг (Ккал/кг)
            p Сырой протеин, мин 16%
            p Сырой жир, мин 2,5%
            p Сырая клетчатка, мин 0,65%
            p Кальций, мин 0,65 %
            p Фосфор, мин 0,4%
            a(href="#") К сравнению
          a(href="#").title.
            БВМД Purina® 25 % ЭКО Универсальный для мясной птицы
          .price.
            2 150 руб.
          a(href="#").cart: p В корзину
      .product-item.best.circle
        .product-item-content
          .img(data-label="ЛУЧШЕЕ ПРЕДЛОЖЕНИЕ")
            img(src="img/content/main/item--1.jpg" alt="")
          .text
            p Обменная энергия, мин 12,55<br>(3000) МДж/кг (Ккал/кг)
            p Сырой протеин, мин 16%
            p Сырой жир, мин 2,5%
            p Сырая клетчатка, мин 0,65%
            p Кальций, мин 0,65 %
            p Фосфор, мин 0,4%
            a(href="#") К сравнению
          a(href="#").title.
            БМВК Purina 15% ЭКО для яичной птицы
          .price.
            2 150 руб.
          a(href="#").cart: p В корзину
      .product-item.circle
        .product-item-content
          .img
            img(src="img/content/main/item--2.jpg" alt="")
          .text
            p Обменная энергия, мин 12,55<br>(3000) МДж/кг (Ккал/кг)
            p Сырой протеин, мин 16%
            p Сырой жир, мин 2,5%
            p Сырая клетчатка, мин 0,65%
            p Фосфор, мин 0,4%
            a(href="#") К сравнению
          a(href="#").title.
            Комбикорм Purina® Финишер для водоплавающей птицы
          .price.
            2 150 руб.
          a(href="#").cart: p В корзину
      .product-item
        .product-item-content
          .img
            img(src="img/content/main/item--3.jpg" alt="")
          .text
            p Обменная энергия, мин 12,55<br>(3000) МДж/кг (Ккал/кг)
            p Сырой протеин, мин 16%
            p Сырой жир, мин 2,5%
            p Сырая клетчатка, мин 0,65%
            p Кальций, мин 0,65 %
            p Фосфор, мин 0,4%
            a(href="#") К сравнению
          a(href="#").title.
            БВМД Purina® 25 % ЭКО Универсальный для мясной птицы
          .price.
            2 150 руб.
          a(href="#").cart: p В корзину
      .product-item.new
        .product-item-content
          .img(data-label="НОВИНКА")
            img(src="img/content/main/item--4.jpg" alt="")
          .text
            p Обменная энергия, мин 12,55<br>(3000) МДж/кг (Ккал/кг)
            p Сырой протеин, мин 16%
            p Сырой жир, мин 2,5%
            p Сырая клетчатка, мин 0,65%
            p Кальций, мин 0,65 %
            p Фосфор, мин 0,4%
            a(href="#") К сравнению
          a(href="#").title.
            Комбикорм Purina® Финишер для водоплавающей птицы
          .price.
            2 150 руб.
          a(href="#").cart: p В корзину
      .product-item.best
        .product-item-content
          .img(data-label="ЛУЧШЕЕ ПРЕДЛОЖЕНИЕ")
            img(src="img/content/main/item--3.jpg" alt="")
          .text
            p Обменная энергия, мин 12,55<br>(3000) МДж/кг (Ккал/кг)
            p Сырой протеин, мин 16%
            p Сырой жир, мин 2,5%
            p Сырая клетчатка, мин 0,65%
            p Кальций, мин 0,65 %
            p Фосфор, мин 0,4%
            a(href="#") К сравнению
          a(href="#").title.
            БВМД Purina® 25 % ЭКО Универсальный для мясной птицы
          .price.
            2 150 руб.
          a(href="#").cart: p В корзину
      .product-item.new.circle
        .product-item-content
          .img(data-label="НОВИНКА")
            img(src="img/content/main/item--5.jpg" alt="")
          .text
            p Обменная энергия, мин 12,55<br>(3000) МДж/кг (Ккал/кг)
            p Сырой протеин, мин 16%
            p Сырой жир, мин 2,5%
            p Сырая клетчатка, мин 0,65%
            p Кальций, мин 0,65 %
            p Фосфор, мин 0,4%
            a(href="#") К сравнению
          a(href="#").title.
            БМВК Purina 15% ЭКО для яичной птицы
          .price.
            2 150 руб.
          a(href="#").cart: p В корзину
      .product-item.best
        .product-item-content
          .img(data-label="ЛУЧШЕЕ ПРЕДЛОЖЕНИЕ")
            img(src="img/content/main/item--3.jpg" alt="")
          .text
            p Обменная энергия, мин 12,55<br>(3000) МДж/кг (Ккал/кг)
            p Сырой протеин, мин 16%
            p Сырой жир, мин 2,5%
            p Сырая клетчатка, мин 0,65%
            p Кальций, мин 0,65 %
            p Фосфор, мин 0,4%
            a(href="#") К сравнению
          p.title.
            БВМД Purina® 25 % ЭКО Универсальный для мясной птицы
          .price.
            2 150 руб.
          a(href="#").cart: p В корзину
      .product-item.best.circle
        .product-item-content
          .img(data-label="ЛУЧШЕЕ ПРЕДЛОЖЕНИЕ")
            img(src="img/content/main/item--1.jpg" alt="")
          .text
            p Обменная энергия, мин 12,55<br>(3000) МДж/кг (Ккал/кг)
            p Сырой протеин, мин 16%
            p Сырой жир, мин 2,5%
            p Сырая клетчатка, мин 0,65%
            p Кальций, мин 0,65 %
            p Фосфор, мин 0,4%
            a(href="#") К сравнению
          a(href="#").title.
            БМВК Purina 15% ЭКО для яичной птицы
          .price.
            2 150 руб.
          a(href="#").cart: p В корзину
      .product-item.circle
        .product-item-content
          .img
            img(src="img/content/main/item--2.jpg" alt="")
          .text
            p Обменная энергия, мин 12,55<br>(3000) МДж/кг (Ккал/кг)
            p Сырой протеин, мин 16%
            p Сырой жир, мин 2,5%
            p Сырая клетчатка, мин 0,65%
            p Кальций, мин 0,65 %
            p Фосфор, мин 0,4%
            a(href="#") К сравнению
          a(href="#").title.
            Комбикорм Purina® Финишер для водоплавающей птицы
          .price.
            2 150 руб.
          a(href="#").cart: p В корзину
      

    a(href="#").read-more Показать ещё
    .categories
      h2 Другие категории
      .blocks
        a(href="#").block: p Бункерные кормушки
        a(href="#").block: p Кормушки для сена
        a(href="#").block: p Экструдеры
        a(href="#").block: p Брудеры
        a(href="#").block: p Кормушки для сена
    include template/banners.pug

  include template/footer.pug

  script(src="js/jquery.min.js")
  script(src="js/remodal/remodal.min.js")
  script(src="js/main.js")