doctype html
html(lang="ru")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width")
    title Подкаталог  
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&amp;subset=cyrillic' rel='stylesheet')
    link(href="js/remodal/remodal.css" rel="stylesheet")
    link(href="js/remodal/remodal-default-theme.css" rel="stylesheet")
    link(rel='stylesheet' href='styles/style.css')
    
  include template/header.pug
  .catalog--header
    h2.title Корм  
  .content.catalog
    include template/filters-categories.pug
    .product-items-easy
      a(href="#").block
        img(src="img/content/catalog/block--1.jpg")
        .text: p Инкубация
      a(href="#").block
        img(src="img/content/catalog/block--2.jpg")
        .text: p Отопление 
      
      a(href="#").block
        img(src="img/content/catalog/block--3.jpg")
        .text: p Системы автоматического поения
      a(href="#").block
        img(src="img/content/catalog/block--4.jpg")
        .text: p Ручное поение

      a(href="#").block
        img(src="img/content/catalog/block--5.jpg")
        .text: p Кормление
      a(href="#").block
        img(src="img/content/catalog/block--6.jpg")
        .text: p Содержание сельхоз. животных и птиц

      a(href="#").block
        img(src="img/content/catalog/block--1.jpg")
        .text: p Инкубация 2
      a(href="#").block
        img(src="img/content/catalog/block--2.jpg")
        .text: p Отопление 2

      a(href="#").block
        img(src="img/content/catalog/block--3.jpg")
        .text: p Инкубация
      a(href="#").block
        img(src="img/content/catalog/block--4.jpg")
        .text: p Инкубация

      a(href="#").block
        img(src="img/content/catalog/block--5.jpg")
        .text: p Инкубация 3
      a(href="#").block
        img(src="img/content/catalog/block--6.jpg")
        .text: p Инкубация 4
  
  .content.catalog
    include template/banners.pug

  include template/footer.pug

  script(src="js/jquery.min.js")
  script(src="js/remodal/remodal.min.js")
  script(src="js/main.js")