doctype html
html(lang="ru")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Страница сравнения  	
    meta(name="HandheldFriendly" content="true")
    meta(name="format-detection", content="telephone=no")
    meta(content="IE=edge" http-equiv="X-UA-Compatible")
    link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
    link(rel="apple-touch-icon", href="img/favicon.ico")
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&amp;subset=cyrillic' rel='stylesheet')   
    link(href="js/remodal/remodal.css" rel="stylesheet")
    link(href="js/remodal/remodal-default-theme.css" rel="stylesheet")  
    link(rel='stylesheet' href='styles/style.css')
    
  include template/header.pug 
  .compare--header
    h1.title Таблица сравнения
  main.content.compare
    .wrapp-table
      .button
        .prev
        .next       
      .filters
        form(action="").select
          label.label
          select.turnintodropdown_demo2
            option Доставка
            option Англия
            option Северная Ирландия
            option Шотландия
            option Уэльс
            option Австралия
        .buttons
          a(href="#").difference Различающиеся
          a(href="#").all-parameters Все параметры
      .table       
        .line.title
          .row
            .img.circle: img(src="img/content/main/item--1.jpg")
            p.title iPhone 99
            p.description Якобы самый лучший телефон :) 
            a(href="#").buy: p В корзину
          .row
            .img: img(src="img/content/main/item--2.jpg")
            p.title Huawei P10 Lite 32Gb RAM 3Gb
            p.description Очень длинная аннотация к данному товару Очень длинная аннотация к данному товару Очень длинная аннотация к данному товару Очень длинная аннотация к данному товару
            a(href="#").buy: p В корзину
          .row
            .img: img(src="img/content/main/item--3.jpg")
            p.title Длинное название телефона с кучей клёвых слов ведь это выглядит важно в глазах ничего не понимающего покупателя
            p.description Здесь кратко
            a(href="#").buy: p В корзину
          .row
            .img: img(src="img/content/main/item--4.jpg")
            p.title Название товара
            a(href="#").buy: p В корзину
          .row
            .img: img(src="img/content/main/item--5.jpg")
            p.title Название товара 2
            a(href="#").buy: p В корзину
          .row
            .img: img(src="img/content/main/item--1.jpg")
            p.title Название товара 3
            a(href="#").buy: p В корзину
        .line
          .feature  Производитель
          .row(data-label="Производитель")
            p.text Apple Corp 
          .row(data-label="Производитель")
            p.text Huawei
          .row(data-label="Производитель")
            p.text хз
          .row(data-label="Производитель")
            p.text Значение
          .row(data-label="Производитель")
            p.text Значение
          .row(data-label="Производитель")
            p.text Значение
        .line
          .feature  Очень длинная характеристика, очень
          .row(data-label="Очень длинная характеристика, очень")  
            p.text Описание
          .row(data-label="Очень длинная характеристика, очень")  
            p.text Описание длинной характеристики
          .row(data-label="Очень длинная характеристика, очень")  
            p.text Описание для третьего продукта
          .row(data-label="Очень длинная характеристика, очень")  
            p.text Значение
          .row(data-label="Очень длинная характеристика, очень")  
            p.text Описание для третьего продукта
          .row(data-label="Очень длинная характеристика, очень")  
            p.text Значение
        .line
          .feature  Мощность двигателя
          .row(data-label="Мощность двигателя") 
            p.text Про мощность двигателя dfgdfg dfghfg fgdg dfgdfg dfghfg fgdg dfgdfg dfghfg fgdg dfgdfg dfghfg fgdg dfgdfg dfghfg fgdg dfgdfg dfghfg fgdg dfgdfg dfghfg fgdg dfgdfg dfghfg fgdg dfgdfg dfghfg fgdg dfgdfg dfghfg fgdg dfgdfg dfghfg fgdg dfgdfg dfghfg fgdg
          .row(data-label="Мощность двигателя")
            p.text Про мощность двигателя
          .row(data-label="Мощность двигателя")
            p.text Про мощность двигателя dfghfg fgdg dfgdfg dfghfg fgdg dfgdfg dfghfg fgdg
          .row(data-label="Мощность двигателя")
            p.text -
          .row(data-label="Мощность двигателя")
            p.text -
          .row(data-label="Мощность двигателя")
            p.text -
        .line
          .feature  Характеристика 99
          .row(data-label="Характеристика 99")
            p.text Значение 1 для 99
          .row(data-label="Характеристика 99")
            p.text Значение 2 для 99
          .row(data-label="Характеристика 99")
            p.text Значение 3 для 99
          .row(data-label="Характеристика 99")
            p.text Значение
          .row(data-label="Характеристика 99")
            p.text Значение 3 для 99
          .row(data-label="Характеристика 99")
            p.text Значение
        .line
          .feature  Характеристика 100
          .row(data-label="Характеристика 100")
            p.text Значение 1 для 100
          .row(data-label="Характеристика 100")
            p.text Значение 2 для 100
          .row(data-label="Характеристика 100")
            p.text Значение 3 для 100
          .row(data-label="Характеристика 100")
            p.text Значение
          .row(data-label="Характеристика 100")
            p.text Значение 3 для 100
          .row(data-label="Характеристика 100")
            p.text Значение
  
   
  include template/footer.pug

  script(src="js/jquery.min.js")
  script(src="js/remodal/remodal.min.js")
  script(src="js/main.js")