.content.catalog {
  .catalog--header {
    .down {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 14px;
      color: #4a4a4a;
      letter-spacing: 0;
      line-height: 27px;
      background: #e7e7e7;
      width: 100%;
      height: 60px;
      position: relative;

      @media (min-width: $tablet) {
        display: none;
      }

      &::before {
        @mixin bg content/down.svg;
        content: "";
        position: absolute;
        left: calc(8vw);
      }
    }

    .title {
      font-weight: 400;
      font-size: 32px;
      color: #4a4a4a;
      letter-spacing: 0;
      text-align: center;

      @media (min-width: $tablet) {
        border-top: 1px solid #e7e7e7;
      }
    }

    .click-filters {
      border-top: 1px solid #e7e7e7;

      .sort {
        display: flex;
        max-width: max-content;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 9px;

        a {
          text-decoration: none;
          font-weight: 400;
          font-size: 14px;
          color: #9b9b9b;
          letter-spacing: 0;
          line-height: 27px;

          &:nth-child(2) {
            padding: 0 6vw;
          }

          &.active {
            color: #4a4a4a;
          }
        }
      }

      .position {
        @media (min-width: $tablet) {
          .multi-colons {
            @mixin bg content/catalog--multi-colons.svg;
          }

          .with-options {
            @mixin bg content/catalog--with-options.svg;
          }

          .short-list {
            @mixin bg content/catalog--short-list.svg;
          }
        }
      }
    }
  }

  .categories {
    margin-bottom: 60px;

    @media (min-width: $tablet) {
      margin-bottom: 40px;
    }
  }

  .danners {
    display: none;

    @media (min-width: $tablet) {
      display: flex;
    }
  }
}