.content.order-page {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .title-page {
    order: 1;
    font-weight: 400;
    font-size: 24px;
    color: #4a4a4a;
    letter-spacing: 0;
    padding: 23px;
    margin: 0;

    @media (min-width: $tablet) {
      font-size: 32px;
      width: 100%;
      order: 0;
      border-top: 1px solid #e7e7e7;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .in-basket {
    order: 0;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    margin-top: -1px;

    @media (min-width: $tablet) {
      margin-top: 0;
      order: 2;
      width: 40%;
    }

    .product-item {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid #e7e7e7;
      padding: 30px;

      @media (min-width: $tablet) {
        border-left: 1px solid #e7e7e7;
        border-right: 1px solid #e7e7e7;
      }

      &.circle {
        img {
          border-radius: 50%;
        }
      }

      img {
        height: auto;
        max-width: 80px;
        max-height: 80px;
        margin-left: auto;
        margin-right: auto;
      }

      .title {
        font-weight: 400;
        font-size: 14px;
        color: #4a4a4a;
        letter-spacing: 0;
        width: calc(100% - 80px - 30px);
        margin-left: auto;
        margin-bottom: 20px;
      }

      .price {
        font-weight: 700;
        font-size: 16px;
        color: #88b14b;
        letter-spacing: 0;
        margin-left: calc(80px + 30px);
      }
    }

    .sum {
      padding: 25px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @media (min-width: 390px) {
        justify-content: space-between;
      }

      @media (min-width: $tablet) {
        border-left: 1px solid #e7e7e7;
        border-right: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
      }

      .title,
      .value {
        font-weight: 700;
        font-size: 24px;
        color: #4a4a4a;
        letter-spacing: 0;
      }
    }
  }

  .form-for-order {
    order: 2;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet) {
      order: 1;
      width: 60%;
    }

    .content {
      display: flex;
      flex-direction: column;
      padding: 30px;
      padding-top: 50px;
      background: #f3f3f3;
      width: 100%;
      order: 0;
    }

    input[type="submit"] {
      order: 1;
      transition: 1.5s ease;

      &:hover {
        color: #ef562d;
        background: #ffffff;
      }
    }
  }
}