@media (max-width: $desktop) {
  @reset-global mobile;
}

@media (min-width: $desktop) {
  @reset-global pc;
}

@media (max-width: $tablet) {
  .wrapper {
  }
}

body {
  font-family: $RobotoSlab;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > content {
    flex: 1 0 auto;
  }
}
