.danners {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .block {
    position: relative;
    height: 320px;

    @media (min-width: $tablet) {
      height: 250px;
      width: 50%;
    }

    @media (min-width: $desktop) {
      height: 330px;
    }

    @media (min-width: $big-desktop) {
      height: 470px;
    }

    .text {
      position: absolute;
      top: 30px;
      left: 30px;

      @media (min-width: $tablet) {
        top: 33px;
      }

      @media (min-width: $desktop) {
        top: 29px;
        left: 49px;
      }

      h2 {
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 0;
        margin-bottom: 30px;

        @media (min-width: $tablet) {
          font-size: 28px;
        }

        @media (min-width: $desktop) {
          font-size: 32px;
        }

        @media (min-width: $big-desktop) {
          font-size: 48px;
        }
      }

      .read-more {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 143px;
        height: 50px;
        border-radius: 60px;
        font-weight: 400;
        font-size: 16px;
        color: #ffffff;
        letter-spacing: 0;
        border: 1px solid;
        // transition: 1.5s ease;
        transition: 0.3s ease;
        margin-left: 0;
      }
    }

    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.vitamins {
      @media (min-width: $tablet) {
        width: 33.5%;
      }

      .text {
        @media (min-width: $big-desktop) {
          top: 34px;
          left: 70px;
        }
      }

      h2 {
        color: #000000;

        @media (min-width: $tablet) {
          margin-bottom: 27px;
        }

        @media (min-width: $desktop) {
          margin-bottom: 30px;
        }

        @media (min-width: $big-desktop) {
          font-size: 48px;
          line-height: 52px;
        }
      }

      .read-more {
        background: #ef562d;
        border-color: #ef562d;

        &:hover {
          background: #ffffff;
          color: #ef562d;
        }
      }

      img {
        // object-position: 74%;
        object-fit: initial;

        // @media (min-width: 768px) {
        //   object-position: 100%;
        // }
      }
    }

    &.delivery {
      @media (min-width: $tablet) {
        width: 66.5%;
      }

      .text {
        @media (min-width: $big-desktop) {
          top: 42px;
          left: 68px;
        }
      }

      h2 {
        color: #ffffff;

        @media (min-width: $big-desktop) {
          font-size: 48px;
          line-height: 32px;
        }
      }

      .read-more {
        background: #88b14b;
        border-color: #88b14b;

        &:hover {
          background: #ffffff;
          color: #88b14b;
        }
      }

      img {
        object-position: 74%;

        @media (min-width: $tablet) {
          object-position: 0 100%;
        }

        @media (min-width: 2000px) {
          object-position: 0 80%;
        }
      }
    }
  }
}