.remodal-overlay {
  background: none;
}

.remodal-wrapper {
  z-index: 100;
}

.remodal {
  background: #ffffff;
  border: 1px solid #e7e7e7;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.17);
  padding: 30px;
  margin: 0;

  form {
    display: flex;
    flex-direction: column;

    .name,
    .tel {
      font-weight: 400;
      font-size: 14px;
      color: #4a4a4a;

      &::-webkit-input-placeholder {
        font-weight: 400;
        font-size: 14px;
        color: #4a4a4a;
        opacity: 1;
      }

      &::-moz-placeholder {
        font-weight: 400;
        font-size: 14px;
        color: #4a4a4a;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        font-weight: 400;
        font-size: 14px;
        color: #4a4a4a;
        opacity: 1;
      }

      &:-moz-placeholder {
        font-weight: 400;
        font-size: 14px;
        color: #4a4a4a;
        opacity: 1;
      }
      border: none;
      border-bottom: 1px solid #979797;
      padding-bottom: 6px;
      max-width: 300px;
      margin-bottom: 30px;
    }

    .submit {
      background: #ef562d;
      border: 1px solid #ef562d;
      border-radius: 60px;
      font-weight: 400;
      font-size: 16px;
      color: #ffffff;
      letter-spacing: 0;
      height: 50px;
      width: 140px;
    }

    .personal-data {
      display: flex;
      align-items: center;
      margin-bottom: 30px;

      input {
        width: 24px;
        height: 24px;
        position: absolute;
        cursor: pointer;
        z-index: 1;
        opacity: 0;
      }

      input[type=checkbox]:checked + label::before {
        background: #ef562d;
        border-color: #ef562d;
      }

      input[type=checkbox]:checked + label:after {
        opacity: 1;
      }

      label {
        display: flex;
        align-items: center;
        position: relative;
        font-weight: 400;
        font-size: 14px;
        color: #4a4a4a;
        letter-spacing: 0;

        &::before {
          content: "";
          display: block;
          min-width: 24px;
          height: 24px;
          background: #ffffff;
          border: 1px solid #b7b7b7;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin-right: 8px;
        }

        &::after {
          @mixin bg content/filter--check--white.svg;
          opacity: 0;
          content: '';
          position: absolute;
          left: 6px;

          @media (min-width: $tablet) {
            top: 6px;
          }
        }
      }
    }
  }
}

.remodal.callback {
  @media (min-width: $tablet) {
    width: 580px;
    position: absolute;
    left: calc(50% - 280px);
    top: 164px;
  }

  @media (min-width: $desktop) {
    left: 41%;
    margin-left: -140px;
    top: 160px;
  }
}

.remodal-is-locked {
  .header .tel {
    background: #e7e7e7;
  }
}

.form-for-order {
  .content {
    .title {
      font-weight: 400;
      font-size: 20px;
      color: #4a4a4a;
      letter-spacing: 0;
      line-height: 24px;
      margin-bottom: 30px;

      &:nth-child(n+2) {
        position: relative;
        padding-top: 50px;
        margin-top: 50px;

        &::before {
          content: "";
          display: block;
          height: 1px;
          background: white;
          position: absolute;
          width: 100vw;
          top: 0;
          left: -30px;

          @media (min-width: $tablet) {
            width: 65vw;
          }
        }
      }
    }

    input[type="text"],
    input[type="tel"],
    input[type="e-mail"] {
      font-weight: 400;
      font-size: 14px;
      color: #4a4a4a;
      background: none;
      border: none;
      border-bottom: 1px solid #979797;
      padding-bottom: 6px;
      max-width: 300px;
      width: 100%;
      margin-bottom: 30px;

      &.last {
        margin-bottom: 0;
      }

      &::-webkit-input-placeholder {
        font-weight: 400;
        font-size: 14px;
        color: #4a4a4a;
        opacity: 1;
      }

      &::-moz-placeholder {
        font-weight: 400;
        font-size: 14px;
        color: #4a4a4a;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        font-weight: 400;
        font-size: 14px;
        color: #4a4a4a;
        opacity: 1;
      }

      &:-moz-placeholder {
        font-weight: 400;
        font-size: 14px;
        color: #4a4a4a;
        opacity: 1;
      }
    }

    .personal-data {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 0px;
      width: 100%;
      max-width: 300px;

      .block {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        input[type=checkbox] {
          width: 24px;
          height: 24px;
          position: absolute;
          cursor: pointer;
          z-index: 1;
          opacity: 0;
        }

        input[type=checkbox]:checked + label::before {
          background: #ef562d;
          border-color: #ef562d;
        }

        input[type=checkbox]:checked + label:after {
          opacity: 1;
        }

        label {
          display: flex;
          // align-items: center;
          position: relative;
          // width: calc(100% - 24px);
          font-weight: 400;
          font-size: 14px;
          color: #4a4a4a;
          letter-spacing: 0;

          &::before {
            content: "";
            display: block;
            min-width: 24px;
            height: 24px;
            background: #ffffff;
            border: 1px solid #b7b7b7;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin-right: 8px;
          }

          &::after {
            @mixin bg content/filter--check--white.svg;
            opacity: 0;
            content: '';
            position: absolute;
            left: 6px;
            top: 6px;
          }
        }
      }
    }
  }

  input[type="submit"] {
    background: #ef562d;
    border: 1px solid #ef562d;
    border-radius: 60px;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0;
    height: 50px;
    width: 201px;
    margin-top: 30px;
    margin-left: 35px;
  }

  .select--title {
    width: 100%;
    max-width: 300px;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    color: #4a4a4a;
    padding-bottom: 6px;
    border-bottom: 1px solid #979797;
    margin-bottom: 30px;

    &::after {
      @mixin bg content/accordion--open.svg;
      content: "";
      margin-left: auto;
    }

    &.active {
      border-bottom-color: #e7e7e7;
      margin-bottom: 0px;

      & ~ .select--body {
        display: block;
        margin-bottom: 30px;
      }

      &::after {
        @mixin bg content/accordion--close.svg;
      }
    }
  }

  .select--body {
    position: relative;
    display: none;
    max-width: 300px;

    ul {
      height: 200px;
      overflow-y: scroll;
      border: 1px solid #e7e7e7;
      border-top: none;
      list-style-type: none;
      width: 100%;
      position: absolute;

      li {
        padding: 20px;
        background: #ffffff;

        &:first-child {
          display: none;
        }

        &:hover {
          background: #ef562d;

          a {
            color: #ffffff;
          }
        }

        a {
          font-weight: 400;
          font-size: 14px;
          color: #4a4a4a;
        }
      }
    }
  }
}