.filters {
  border: 1px solid #e7e7e7;
  background: #e7e7e7;

  .catalog-filters__header {
    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 50px;
      background: #88b14b;
      font-weight: 400;
      font-size: 16px;
      color: #ffffff;
      letter-spacing: 0;
      cursor: pointer;

      &::before {
        @mixin bg content/filters--settings.svg;
        content: "";
        margin-right: 12px;
      }

      @media (min-width: $tablet) {
        display: none;
      }
    }
  }

  .filter_cont {
    .current-filters {
      padding-left: 23px;
      padding-right: 23px;
      padding-top: 24px;
      padding-bottom: 24px;
      display: flex;
      flex-wrap: wrap;

      @media (min-width: $tablet) {
        padding-left: 34px;
        padding-top: 32px;
        padding-bottom: 0px;
      }

      @media (min-width: $desktop) {
        padding-left: 43px;
      }

      @media (min-width: $big-desktop) {
        padding-left: 56px;
        padding-top: 28px;
      }

      .filter {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
          p {
            color: #ef562d;
          }

          input {
            background: url('../img/sprite/content/close--orange--middle.svg') 50% no-repeat;
          }
        }

        .name {
          font-weight: 400;
          font-size: 18px;
          color: #4a4a4a;
          letter-spacing: 0;
          margin-right: 10px;
        }

        input {
          @mixin bg content/close--gray.svg;
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
      }

      #reset-all-filters {
        margin-top: 15px;
        font-weight: 400;
        font-size: 14px;
        color: #4a4a4a;
        letter-spacing: 0;
        line-height: 27px;
        width: 100%;

        &:hover {
          color: #ef562d;
        }
      }
    }

    #filters_list {
      max-height: 0px;
      overflow: hidden;

      @media (min-width: $tablet) {
        max-height: none;
      }

      #filters {
        .catalog-filters__section {
          margin-bottom: 30px;
          padding-left: 22px;
          padding-right: 23px;

          @media (min-width: $tablet) {
            margin-bottom: 34px;
            padding-left: 36px;
          }

          @media (min-width: $desktop) {
            padding-left: 43px;
            margin-bottom: 31px;
          }

          @media (min-width: $big-desktop) {
            padding-left: 56px;
            margin-bottom: 34px;
          }

          &:first-child {
            margin-top: 4px;

            @media (min-width: $tablet) {
              margin-top: 30px;
            }
          }

          &:last-child {
            @media (max-width: 767px) {
              margin-bottom: 34px;
            }
          }

          .heading {
            font-weight: 400;
            font-size: 18px;
            color: #4a4a4a;
            letter-spacing: 0;
            padding-bottom: 15px;
            border-bottom: 1px solid #9b9b9b;
            margin-bottom: 9px;

            @media (min-width: $desktop) {
              margin-bottom: 10px;
            }
          }

          .form-control {
            position: relative;
            margin-bottom: 11px;

            @media (min-width: $tablet) {
              margin-bottom: 10px;
            }

            &:last-child {
              margin-bottom: 0;
            }

            input[type=checkbox]:checked + label:after {
              opacity: 1;
            }

            input[type=checkbox]:checked + label::before {
              background: #ef562d;
              border-color: #ef562d;
            }

            input {
              width: 24px;
              height: 24px;
              position: absolute;
            }

            &:hover {
              .param_list,
              .catalog-filters__counter {
                color: #ef562d;
              }
            }

            label {
              cursor: pointer;
              position: absolute;
              width: 24px;
              height: 24px;
              top: 0;
              left: 0;
              // background: #ffffff;
              // border: 1px solid #b7b7b7;
              position: relative;
              height: auto;

              &::after {
                @mixin bg content/filter--check--white.svg;
                opacity: 0;
                content: '';
                position: absolute;
                top: 6px;
                left: 6px;
                // width: 13px;
                // height: 14px;
              }

              &::before {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                position: absolute;
                background: #ffffff;
                border: 1px solid #b7b7b7;
                box-sizing: border-box;
              }
            }

            .param_list {
              font-weight: 400;
              font-size: 14px;
              color: #4a4a4a;
              letter-spacing: 0;
              margin-left: 31px;
              margin-top: 2px;
              // min-width: max-content;
              display: inline-flex;

              @media (min-width: $tablet) {
                margin-left: 32px;
              }
            }
          }
        }
      }

      .buttons {
        display: flex;

        @media (min-width: $tablet) {
          // display: none;
        }

        #show__link,
        #reset__link {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50%;
          height: 60px;
          font-weight: 400;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 21px;
        }

        #show__link {
          color: #ffffff;
          background: #ef562d;
          border: 1px solid #ef562d;
          align-items: center;
          text-align: center;

          &:hover {
            color: #ef562d;
            background: #ffffff;
          }
        }

        #reset__link {
          color: #4a4a4a;
          background: #ffffff;
          border: 1px solid #ffffff;

          &:hover {
            color: #ef562d;
            border-color: #ef562d;
          }

          @media (min-width: $tablet) {
            border-bottom-color: #e7e7e7;
            border-right-color: #e7e7e7;
          }
        }
      }
    }
  }
}