.filters-categories {
  background: #e7e7e7;

  .accordion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    background: none;
    transition: 0.4s;
    font-weight: 400;
    font-size: 18px;
    color: #4a4a4a;
    letter-spacing: 0;
    padding: 0;
    cursor: pointer;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    padding-left: 23px;
    padding-right: 23px;
    margin-bottom: 10px;
    margin-top: 20px;

    @media (min-width: $tablet) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .accordion:after {
    @mixin bg content/accordion--open.svg;
    content: '';
    min-width: 15px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
  }

  .accordion.empty:after {
    content: none;
  }

  .accordion.active:after {
    @mixin bg content/accordion--close.svg;
  }

  .content-accordion {
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: none;
    // max-height: 0;
    background: none;
    padding-left: 23px;
    padding-right: 23px;

    @media (min-width: $tablet) {
      padding-left: 0px;
      padding-right: 0px;
    }

    a {
      font-weight: 400;
      font-size: 14px;
      color: #4a4a4a;
      letter-spacing: 0;
      margin-top: 20px;
      // padding-bottom: 20px;

      &:first-child {
        margin-top: 0px;
      }
    }
  }
}