.footer {
  .info {
    background: #88b14b;

    .wrapper {
      padding-left: 21px;
      padding-right: 55px;
      padding-top: 48px;
      padding-bottom: 50px;

      @media (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
        padding-left: 35px;
        padding-top: 52px;
        padding-bottom: 45px;
      }

      @media (min-width: $desktop) {
        padding-left: 45px;
        padding-right: 160px;
        padding-top: 54px;
        padding-bottom: 44px;
      }

      @media (min-width: $big-desktop) {
        padding-left: 55px;
        padding-right: 240px;
        max-width: $big-desktop;
        margin-left: auto;
        margin-right: auto;
      }

      .links {
        display: flex;
        flex-direction: column;
        max-width: max-content;
        margin-bottom: 30px;

        @media (min-width: $tablet) {
          margin-bottom: 0;
        }

        li {
          margin-bottom: 15px;

          @media (min-width: $tablet) {
            margin-bottom: 17px;
          }

          ul {
            display: none;
          }

          a {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #ffffff;
            letter-spacing: 0;
            transition: color 1.5s ease;

            &:hover {
              color: #000000;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .categories {
        display: flex;
        flex-direction: column;
        width: auto;
        max-width: max-content;
        margin-bottom: 30px;

        @media (min-width: $tablet) {
          margin-bottom: 0;
          padding-left: 44px;
        }

        @media (min-width: $desktop) {
          padding-left: 56px;
          margin-top: -3px;
        }

        @media (min-width: $big-desktop) {
          padding-left: 137px;
        }

        li {
          margin-bottom: 15px;

          a {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            color: #ffffff;
            letter-spacing: 0;
            display: inline-flex;
            transition: color 1.5s ease;

            &:hover {
              color: #000000;
            }

            img {
              display: none;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .address-share {
        max-width: 180px;

        @media (min-width: $tablet) {
          padding-left: 3px;
        }

        @media (min-width: $desktop) {
          padding-left: 0;
        }

        .address {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          color: #ffffff;
          letter-spacing: 0;
          line-height: 24px;
          margin-bottom: 30px;

          @media (min-width: $tablet) {
            margin-bottom: 67px;
            margin-top: -6px;
          }

          @media (min-width: $desktop) {
            margin-top: -8px;
          }

          @media (min-width: $big-desktop) {
            margin-top: -10px;
          }
        }

        .share {
          display: flex;
          flex-wrap: wrap;

          &:hover {
            p {
              color: #ef562d;
            }
          }

          p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #ffffff;
            letter-spacing: 0;
            width: 100%;
            margin-bottom: 15px;
            cursor: pointer;
            transition: 0.5s ease;
          }

          .twitter {
            @mixin bg footer/twitter.svg;

            &:hover {
              @mixin bg footer/twitter--orange.svg;
            }
          }

          .vk {
            margin-left: 12px;
            margin-right: 12px;

            @mixin bg footer/vk.svg;

            &:hover {
              @mixin bg footer/vk--orange.svg;
            }
          }

          .facebook {
            @mixin bg footer/facebook.svg;

            &:hover {
              @mixin bg footer/facebook--orange.svg;
            }
          }
        }
      }
    }
  }

  .end {
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      padding-top: 32px;
      padding-bottom: 50px;
      padding-left: 22px;
      padding-right: 35px;

      @media (min-width: $tablet) {
        padding-left: 35px;
      }

      @media (min-width: $desktop) {
        padding-right: 40px;
        padding-left: 43px;
        padding-top: 31px;
      }

      @media (min-width: $big-desktop) {
        padding-left: 55px;
        padding-right: 55px;
        padding-top: 29px;
        max-width: $big-desktop;
        margin-left: auto;
        margin-right: auto;
      }

      .owner {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #4a4a4a;
        letter-spacing: 0;
        margin-bottom: 30px;
        padding-right: 30px;
        transition: color 1.5s ease;
        cursor: pointer;

        &:hover {
          color: #ef562d;
        }

        @media (min-width: 620px) {
          margin-bottom: 0;
        }

        @media (min-width: $tablet) {
          width: 48%;
        }

        @media (min-width: 850px) {
          width: auto;
        }
      }

      .creator-company {
        display: block;
        margin-bottom: 19px;

        @media (min-width: 448px) {
          width: min-content;
          margin-left: auto;
          display: flex;
          flex-wrap: wrap;
        }

        @media (min-width: 620px) {
          width: auto;
          margin-bottom: 0;
        }

        @media (min-width: $tablet) {
          margin-left: -8px;
          margin-top: -5px;
        }

        @media (min-width: 850px) {
          align-items: center;
        }

        @media (min-width: $desktop) {
          margin-top: -8px;
          margin-left: auto;
          padding-left: 19px;
        }

        &:hover {
          p {
            color: #ef562d;
          }
        }

        p {
          width: max-content;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          color: #4a4a4a;
          letter-spacing: 0;
          transition: color 1.5s ease;

          @media (min-width: $tablet) {
            margin-top: 6px;
          }

          @media (min-width: $desktop) {
            margin-top: 2px;
          }
        }

        &::before {
          content: "";
          margin-bottom: 15px;

          @mixin bg footer/web-mechanica.svg;

          @media (min-width: 448px) {
            margin-bottom: 10px;
          }

          @media (min-width: 620px) {
            margin-right: 20px;
          }

          @media (min-width: $tablet) {
            margin-right: 27px;
          }

          @media (min-width: 850px) {
            margin-bottom: 0;
          }

          @media (min-width: $desktop) {
            margin-right: 27px;
          }
        }
      }

      .creator-people {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
        color: #9b9b9b;
        letter-spacing: 0;

        span {
          transition: color 1.5s ease;
          cursor: pointer;

          &:hover {
            color: #ef562d;
          }
        }

        @media (min-width: 448px) {
          margin-left: auto;
          margin-right: auto;
        }

        @media (min-width: 620px) {
          margin-right: 0;
        }

        @media (min-width: $tablet) {
          margin-top: -10px;
        }

        @media (min-width: $desktop) {
          margin-top: 0;
        }
      }
    }
  }
}