.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 10px;

  @media (min-width: $tablet) {
    // position: relative;
    padding-top: 27px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 35px;
    // max-width: 95.58%;
    // margin-left: auto;
    // margin-right: auto;
  }

  // @media (min-width: $desktop) {
  //   max-width: 95.9%;
  // }

  @media (min-width: $big-desktop) {
    // max-width: 1384px;
    max-width: $big-desktop;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 27px;
    font-style: normal;
    font-weight: 400;
    color: #4a4a4a;
    margin-left: 22px;
    margin-right: auto;
    cursor: pointer;

    &::before {
      content: "";
      display: inline-flex;
      margin-right: 6px;

      @mixin bg header/logo.svg;

      @media (min-width: $tablet) {
        @mixin bg header/logo--middle.svg;
        margin-right: 9px;
      }
    }

    @media (min-width: $tablet) {
      margin: 0;
      // max-width: 28%;
      max-width: 30%;
      margin-right: auto;
      font-size: 24px;
      order: 0;
    }

    @media (min-width: $big-desktop) {
      margin-right: 0;
    }
  }

  .top-menu {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;

    @media (min-width: $tablet) {
      margin-left: 0;
      width: 65%;
      margin-right: auto;
      order: 1;
    }

    @media (min-width: $desktop) {
      width: 73%;
      margin-left: 0;
    }

    .gamburger {
      height: 18px;
      cursor: pointer;
      display: block;

      @media (min-width: $tablet) {
        display: none;
      }

      .sw-topper,
      .sw-bottom,
      .sw-footer {
        display: block;
        position: relative;
        width: 23px;
        height: 2px;
        background: #88b14b;
        border: none;
        transition: transform 0.5s, top 0.2s;
        transition-delay: 0.2s, 0s;
      }

      .sw-topper {
        top: 0;
      }

      .sw-bottom {
        top: 5px;
      }

      .sw-footer {
        top: 10px;
      }
    }

    nav {
      display: none;

      @media (max-width: 767px) {
        flex-direction: column;
        position: absolute;
        left: 0;
        z-index: 100;
        background: #e7e7e7;
        width: 100%;
        height: 100vh;
        top: 0;
      }

      @media (min-width: $tablet) {
        display: flex;
        width: max-content;
        margin-left: auto;
      }

      .close {
        width: 100%;
        height: 60px;
        display: flex;
        border-bottom: 1px solid #cbcbcb;
        align-items: center;
        justify-content: flex-end;

        .button {
          padding: 25px;
          cursor: pointer;

          &::before {
            @mixin bg content/close--gray.svg;
            content: "";
          }
        }

        @media (min-width: $tablet) {
          display: none;
        }
      }

      ul {
        width: 100%;

        @media (min-width: $tablet) {
          display: flex;
          justify-content: space-between;
          position: relative;
        }

        li {
          border-bottom: 1px solid #cbcbcb;
          display: flex;
          align-items: center;

          @media (min-width: $tablet) {
            border: none;
            padding: 0;
            position: relative;

            @media (max-width: $desktop) {
              &:nth-child(n+4) {
                display: none;
              }

              ul li:nth-child(n+4) {
                display: block;
              }
            }
          }

          &.more {
            display: none;

            ul {
              right: 0;
              max-width: calc(88vw);
              width: 100%;
            }

            @media (min-width: $tablet) and (max-width: $desktop) {
              display: flex;
              position: initial;
            }
          }

          a {
            font-weight: 400;
            font-size: 14px;
            color: #4a4a4a;
            letter-spacing: 0;
            padding-left: 20px;
            padding-top: 15px;
            padding-bottom: 15px;

            @media (min-width: $tablet) {
              padding: 15px 20px;
              display: block;
            }
          }

          .submenu {
            display: inline-flex;
            margin-left: auto;
            padding: 20px;

            &::before {
              @mixin bg header/open-submenu.svg;
              content: "";
            }

            @media (min-width: $tablet) {
              display: none;
            }
          }

          .subtitle {
            display: none;
            // display: flex;
            align-items: center;
            justify-content: space-between;
            background: #e7e7e7;
            font-weight: 400;
            font-size: 16px;
            color: #4a4a4a;
            letter-spacing: 0;
            hyphens: auto;
            text-align: center;
            position: absolute;
            width: 100%;
            top: 0;

            @media (min-width: $tablet) {
              display: none;
            }

            .down {
              order: -1;
              padding: 25px;
              padding-left: 20px;

              &::before {
                @mixin bg content/down.svg;
                content: "";
              }
            }

            .close {
              padding: 25px;
              padding-right: 20px;
              border: none;
              width: auto;

              &::before {
                @mixin bg content/close--gray.svg;
                content: "";
              }
            }
          }

          @media (min-width: $tablet) {
            &:hover {
              & > a {
                background: #e7e7e7;
              }

              ul {
                display: flex;
              }
            }
          }

          ul {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: #ffffff;
            height: 300vh;

            @media (min-width: $tablet) {
              position: absolute;
              border: 1px solid #e7e7e7;
              box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.17);
              top: 100%;
              padding-top: 10px;
              padding-bottom: 10px;
              width: max-content;
              z-index: 100;
              max-width: calc(30vw);
              height: auto;
            }

            @media (min-width: $desktop) {
              max-width: calc(25vw);
            }

            li {
              border-bottom: none;

              &:hover a {
                background: none;
                color: #ef562d;
              }

              a {
                font-weight: 400;
                font-size: 14px;
                color: #4a4a4a;
                letter-spacing: 0;
                transition: 1s ease;
              }

              @media (min-width: $tablet) {
                padding: 0;

                &:hover {
                  a {
                    background: none;
                  }
                }
              }

              a {
                @media (min-width: $tablet) {
                  padding: 20px 30px;
                }
              }
            }
          }
        }
      }

      .tel {
        display: flex;
        padding-left: 25px;
        flex-direction: column;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #cbcbcb;
        width: 100%;

        @media (min-width: $tablet) {
          display: none;
        }

        .number {
          margin-right: auto;
        }

        .call {
          width: 100%;
          margin-top: 5px;
        }
      }

      .price {
        display: flex;
        padding-top: 20px;
        padding-left: 25px;

        @media (min-width: $tablet) {
          display: none;
        }
      }
    }
  }

  .search {
    margin-right: 10px;

    @media (min-width: $tablet) {
      order: 2;
    }

    &.active {
      padding: 40px;
      background: #ffffff;
      border: 1px solid #e7e7e7;
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.17);
      position: absolute;
      display: flex;
      top: 0;
      z-index: 100;
      width: 100vw;
      max-width: $big-desktop;
      height: 100px;
      left: 0;

      @media (min-width: $big-desktop) {
        left: calc((100vw - 1440px)/2);
      }

      .input {
        display: block;
        position: absolute;
        left: 20px;
        font-weight: 400;
        font-size: 20px;
        color: #4a4a4a;
        letter-spacing: 0;
        border: none;
        border-bottom: 1px solid #979797;
        width: calc(100% - 100px);
        padding-bottom: 5px;

        @media (min-width: $desktop) {
          left: 35px;
        }
      }

      .submit {
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        font-size: 0;
        right: 20px;
        background-color: transparent;
        border: transparent;
        z-index: 1;
      }

      .img {
        position: absolute;
        right: 35px;
        z-index: 0;
      }
    }

    .input {
      display: none;
    }

    .submit {
      display: none;
    }

    .img {
      @mixin bg header/searh.svg;
      cursor: pointer;

      &:hover {
        @mixin bg header/searh--orange.svg;
      }

      @media (min-width: $tablet) {
        margin-left: auto;
      }
    }

    @media (min-width: $tablet) {
      margin-right: 0;
      width: auto;
    }

    @media (min-width: $desktop) {
      margin-left: auto;
      width: auto;
    }

    @media (min-width: $big-desktop) {
      width: 8.7%;
    }
  }

  .cart {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;

    @media (min-width: $tablet) {
      background-color: #ef562d;
      // position: absolute;
      // right: -21px;
      // top: 100px;
      margin-left: auto;
      margin-right: -40px;
      order: 6;
    }

    @media (min-width: $desktop) {
      position: relative;
    }

    .icon {
      position: relative;

      @media (min-width: $tablet) {
        padding: calc((60px - 23px)/2) calc((60px - 26px)/2);
      }

      &::before {
        @mixin bg header/cart.svg;
        content: "";

        @media (min-width: $tablet) {
          @mixin bg header/cart--white.svg;
        }
      }

      &::after {
        content: attr(data-label);
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #000000;
        font-size: 16.25px;
        color: #ffffff;
        text-align: center;
        left: 50%;
        bottom: 50%;
      }
    }

    .cart-content {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 100;
      background: #ffffff;
      display: none;
      flex-direction: column;
      border-bottom: 1px solid #e7e7e7;
      padding-bottom: 30px;

      @media (min-width: 600px) {
        padding-bottom: 0px;
      }

      @media (min-width: $desktop) {
        max-width: 68.4vw;
        left: calc(-68.4vw);
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.17);
        border: 1px solid #e7e7e7;
        top: -1px;
      }

      @media (min-width: 2019px) {
        width: 1380px;
        left: -1380px;
      }

      .title {
        font-weight: 400;
        font-size: 32px;
        color: #4a4a4a;
        padding: 20px 22px;
        border-bottom: 1px solid #e7e7e7;
        background: #e7e7e7;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 10px;

        @media (min-width: $desktop) {
          display: none;
        }

        .close {
          padding: 13px;

          &::before {
            @mixin bg content/close--gray.svg;
            content: "";
          }
        }
      }

      .empty {
        font-weight: 400;
        font-size: 16px;
        color: #4a4a4a;
        line-height: 1;
        padding: 22px 20px;
        border-bottom: 1px solid #e7e7e7;
      }

      .item {
        display: flex;
        flex-wrap: wrap;
        align-items: initial;
        justify-content: space-around;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #e7e7e7;

        img {
          height: auto;
          max-width: 31vw;
          max-height: 31vw;

          @media (min-width: 650px) {
            max-width: 200px;
            max-height: 200px;
          }

          @media (min-width: $desktop) {
            max-width: 10vw;
            max-height: 10vw;
          }

          &.circle {
            border-radius: 50%;
            width: 31vw;
            height: 31vw;

            @media (min-width: 650px) {
              width: 200px;
              height: 200px;
            }

            @media (min-width: $desktop) {
              width: 10vw;
              height: 10vw;
            }
          }
        }

        .text {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          padding-left: 6px;
          width: 57%;

          .description {
            font-weight: 400;
            font-size: 14px;
            color: #4a4a4a;
            font-size: 14px;
            color: #4a4a4a;
          }

          .amount {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
            margin-top: 20px;

            .minus,
            .plus {
              display: inline-flex;
              color: #ef562d;
              border: 1px solid #ef562d;
              border-radius: 50%;
              width: 50px;
              height: 50px;
              align-items: center;
              justify-content: center;
            }

            .minus {
              margin-right: 18px;
            }

            .plus {
              margin-left: 18px;
            }

            .minus::before {
              content: "";
              border-top: 2px solid #ef562d;
              width: 20px;
            }

            .plus::before {
              content: "";
              border-top: 2px solid #ef562d;
              width: 16px;
            }

            .plus::after {
              content: "";
              border-top: 2px solid #ef562d;
              width: 16px;
              transform: rotate(90deg);
              position: absolute;
            }
          }

          .item-price {
            font-weight: 700;
            font-size: 16px;
            color: #88b14b;
            margin-right: 16px;
          }

          .close {
            cursor: pointer;

            &::before {
              @mixin bg content/close--orange.svg;
              content: "";
            }
          }
        }
      }

      &__footer {
        display: flex;
        flex-wrap: wrap;

        .make-order,
        .continue {
          font-weight: 400;
          font-size: 16px;
          color: #4a4a4a;
          line-height: 1;
          height: 70px;
          display: flex;
          align-items: center;
          width: 50%;
          justify-content: center;
          padding: 20px;
          text-align: center;
          border-bottom: 1px solid #e7e7e7;
          transition: 1.5s ease;

          @media (min-width: 600px) {
            width: 33.3%;
            border-bottom: none;
          }

          &:hover {
            background: #ef562d;
            color: #ffffff;
          }
        }

        .make-order {
          border-right: 1px solid #e7e7e7;
        }

        .resume {
          font-weight: 700;
          font-size: 24px;
          color: #4a4a4a;
          width: 57%;
          margin-left: auto;
          margin-right: 30px;
          padding-left: 30px;
          display: flex;
          flex-wrap: wrap;
          margin-top: 40px;

          @media (min-width: 600px) {
            width: 33.3%;
            padding: 0;
            margin: 0;
            border-left: 1px solid #e7e7e7;
          }

          span {
            margin-right: 30px;

            @media (min-width: 600px) {
              display: none;
            }
          }

          .sum {
            @media (min-width: 600px) {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .all-product {
    width: 100%;
    height: 60px;
    margin-top: 8px;

    @media (min-width: $tablet) {
      order: 3;
    }

    @media (min-width: $desktop) {
      position: relative;
    }

    &.active {
      a {
        background: #ffffff;
        color: #ef562d;
      }
    }

    & > a {
      text-decoration: none;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #ffffff;
      line-height: 3.6;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      background: #ef562d;
      text-align: center;
      border: 1px solid #ef562d;
      z-index: 3;
      position: relative;

      @media (min-width: $tablet) {
        border-radius: 60px;
      }

      @media (min-width: $desktop) {
        transition: 1.5s ease;

        &:hover {
          background: #ffffff;
          color: #ef562d;
        }
      }
    }

    .fon {
      @media (min-width: $tablet) {
        display: block;
        background: #9b9b9b;
        opacity: 0.4;
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 2;
        display: none;
      }
    }

    .menu {
      max-height: 0;
      overflow: hidden;
      position: absolute;
      z-index: 100;
      width: 100%;
      left: 0;
      top: 0;

      @media (min-width: $tablet) {
        width: 100vw;
      }

      @media (min-width: $desktop) {
        width: calc(100vw - 40px);
        max-width: 1400px;
        top: 90px;
      }

      .title {
        background: #e7e7e7;
        height: 60px;
        display: flex;
        align-items: center;
        padding-right: 20px;

        @media (min-width: $desktop) {
          display: none;
        }

        p {
          font-weight: 400;
          font-size: 16px;
          color: #4a4a4a;
          letter-spacing: 0;
          margin-left: auto;
          margin-right: auto;
        }

        .close {
          @mixin bg content/close--gray.svg;
        }
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        background: #ffffff;

        @media (min-width: $desktop) {
          width: 50%;
          border-right: 1px solid #e7e7e7;
        }

        li {
          width: 100%;
          border-bottom: 1px solid #e7e7e7;
          display: flex;
          align-items: center;

          .submenu {
            padding: 20px;
            display: inline-flex;
            margin-left: auto;

            &::before {
              @mixin bg header/open-submenu.svg;
              content: "";
            }
          }

          .subtitle {
            // display: flex;
            display: none;
            align-items: center;
            justify-content: space-between;
            background: #e7e7e7;
            position: absolute;
            top: 0;
            width: 100%;

            p {
              font-weight: 400;
              font-size: 16px;
              color: #4a4a4a;
              letter-spacing: 0;
              hyphens: auto;
              text-align: center;
            }

            .down {
              order: -1;
              padding: 25px;
              padding-left: 20px;

              &::before {
                @mixin bg content/down.svg;
                content: "";
              }
            }

            .close {
              padding: 25px;
              padding-right: 20px;

              &::before {
                @mixin bg content/close--gray.svg;
                content: "";
              }
            }
          }

          @media (min-width: $desktop) {
            &:hover {
              > a {
                color: #ef562d;
              }

              ul {
                display: flex;
              }
            }
          }

          &:last-child {
            border-bottom: none;
          }

          a {
            font-weight: 400;
            font-size: 14px;
            color: #4a4a4a;
            letter-spacing: 0;
            padding-left: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
            transition: 0.5s ease;
          }

          ul {
            display: none;
            position: absolute;
            background: #ffffff;
            top: 0;
            width: 100%;
            left: 0;
            height: 100%;
            flex-direction: column;

            @media (min-width: $desktop) {
              left: 50%;

              // .subtitle {
              //   display: none;
              // }
            }

            li {
              &::after {
                content: none;
              }
              border-bottom: none;

              a {
              }
            }
          }
        }
      }
    }

    @media (min-width: $tablet) {
      margin: 0;
      margin-top: 22px;
      margin-bottom: 22px;
      width: 218px;
      border-radius: 69px;
      margin-right: auto;
    }
  }

  .tel {
    display: none;
    align-items: center;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;

    @media (min-width: $tablet) {
      display: flex;
      order: 4;
    }

    @media (min-width: $desktop) {
      padding-left: 35px;
      padding-right: 35px;
    }

    .number {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      color: #4a4a4a;
      letter-spacing: 0;
      line-height: 27px;
      margin-right: 15px;
      transition: 1.5s ease;

      @media (min-width: $desktop) {
        margin-right: 22px;
      }

      &:hover {
        color: #ef562d;
      }
    }

    .call {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      color: #4a4a4a;
      letter-spacing: 0;
      line-height: 16px;
      width: min-content;
      transition: 1.5s ease;

      @media (min-width: $desktop) {
        width: max-content;
      }

      &:hover {
        color: #ef562d;
      }
    }
  }

  .price {
    display: none;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #4a4a4a;
    letter-spacing: 0;
    line-height: 27px;
    min-width: 195px;
    transition: 1.5s ease;

    &::before {
      @mixin bg header/price.svg;
      margin-right: 12px;
      content: "";
    }

    @media (min-width: $tablet) {
      display: flex;
      order: 5;
      min-width: 0;
    }

    @media (min-width: $desktop) {
      margin-right: auto;
    }

    @media (min-width: $big-desktop) {
      // min-width: 42.6%;
      margin-right: 0;
    }

    &:hover {
      color: #ef562d;
    }
  }

  .animals {
    width: 100%;

    @media (min-width: $tablet) {
      order: 7;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      @media (min-width: $tablet) {
        flex-wrap: nowrap;
        justify-content: space-between;
      }

      li {
        height: 144px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.3%;
        border: 1px solid #e7e7e7;

        &:last-child {
          margin-left: auto;
          margin-right: auto;
          border-top: none;
          box-sizing: content-box;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          border-bottom: none;
        }

        &:nth-child(2),
        &:nth-child(5) {
          border-left: none;
          border-right: none;
        }

        @media (min-width: $tablet) {
          height: 130px;
          width: auto;
          // max-width: 12.6%;
          max-width: 13.5%;
          border: none;
          flex-direction: row;
          flex-wrap: wrap;

          &:last-child {
            margin-left: 0;
            margin-right: 0;
          }
        }

        @media (min-width: $desktop) {
          &:hover {
            p {
              color: #ef562d;
            }

            img {
              opacity: 0.7;
            }
          }
        }

        a {
          display: flex;
          flex-direction: column;
          height: 100%;

          img {
            margin-top: auto;
            margin-bottom: auto;
            transition: 1s ease;

            @media (min-width: $tablet) {
              margin: 0 auto;
              margin-top: auto;
            }
          }

          p {
            padding-bottom: 15px;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            color: #4a4a4a;
            transition: 1s ease;

            @media (min-width: $tablet) {
              margin-top: auto;
              margin-left: auto;
              margin-right: auto;
              height: 40px;
              width: 100%;
            }
          }
        }
      }
    }
  }
}