.product-items {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  h2 {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 35px;

    &.best {
      color: #ef562d;
      margin-top: 40px;
      margin-bottom: 30px;

      @media (min-width: $tablet) {
        margin-top: 43px;
        margin-bottom: 33px;
      }

      @media (min-width: $desktop) {
        margin-bottom: 35px;
      }
    }

    &.new {
      color: #88b14b;
      margin-top: 43px;
      margin-bottom: 34px;
    }
  }

  .read-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 163px;
    height: 50px;
    border: 1px solid #cbcbcb;
    border-radius: 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #9b9b9b;
    // color: #ffffff;
    background: #ffffff;
    // background: #ef562d;
    letter-spacing: 0;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    transition: 1.5s ease;

    @media (min-width: $tablet) {
      margin-top: 29px;
    }

    @media (min-width: $desktop) {
      margin-top: 30px;
    }

    &:hover {
      color: #ffffff;
      background: #ef562d;
      border-color: #ef562d;
    }
  }

  .product-item {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #e7e7e7;
    height: 403px;
    padding-top: 21px;
    padding-bottom: 20px;
    padding-left: 21px;
    padding-right: 35px;
    align-items: flex-end;

    @media (min-width: $tablet) {
      height: 426px;
      width: 33.3%;
      // width: 33.15%;
      padding-right: 25px;
      padding-left: 30px;
      align-items: flex-start;
      padding-top: 45px;
      padding-bottom: 22px;
    }

    @media (min-width: $desktop) {
      height: 401px;
      padding-top: 47px;
      padding-bottom: 27px;
      padding-left: 30px;
      padding-right: 35px;
    }

    @media (min-width: $big-desktop) {
      height: 423px;
      padding-bottom: 22px;
      width: 20%;
    }

    .text {
      display: none;
      flex-wrap: wrap;
      margin-bottom: auto;
      padding-top: 9px;

      p {
        font-weight: 400;
        font-size: 12px;
        color: #ffffff;
        letter-spacing: 0;
        margin-bottom: 5px;
        width: 100%;

        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        font-weight: 700;
        font-size: 12px;
        color: #ffffff;
        letter-spacing: 0;
        margin-top: 25px;
        width: 100%;
        display: flex;
        align-items: center;

        &:hover {
          text-decoration: underline;

          &::before {
            @mixin bg content/compare--white.svg;
          }
        }

        &::before {
          @mixin bg content/compare.svg;
          content: "";
          margin-right: 12px;
        }
      }
    }

    .img {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (min-width: $tablet) {
        /* height: 218px; */
        height: 200px;
        align-items: flex-end;
        justify-content: center;
        // margin-top: 0;
        margin-bottom: 34px;
      }

      @media (min-width: $desktop) {
        margin-bottom: 40px;
      }

      &::before {
        align-items: center;
        text-align: center;
        transform: rotate(-15deg);
        font-style: normal;
        font-weight: 700;
        color: #ffffff;
        letter-spacing: 0;
        position: absolute;
        left: -35px;
        top: -23px;

        @media (min-width: $tablet) {
          left: 0;
          top: -35px;
        }
      }

      img {
        max-width: 200px;
        max-height: 200px;
      }
    }

    .title {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      color: #4a4a4a;
      letter-spacing: 0;
      width: 100%;
      margin-top: 25px;

      @media (min-width: $tablet) {
        align-self: flex-start;
        margin-top: 0;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    .price {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #88b14b;
      letter-spacing: 0;
      width: calc(100% - 26px);
      // height: 50px;
      // display: flex;
      // align-items: flex-end;
      padding-bottom: 4px;

      @media (min-width: $tablet) {
        padding-bottom: 3px;
        align-self: flex-end;
      }
    }

    .cart {
      @mixin bg content/cart.svg;
      color: transparent;

      @media (min-width: $tablet) {
        align-self: flex-end;
      }

      @media (min-width: $desktop) {
        &::before {
          @mixin bg header/cart--white.svg;
          content: "";
          margin-right: 15px;
          display: none;
        }
      }

      &:hover {
        background: #ffffff !important;
        transition: background 1.5s ease;

        p {
          color: #ef562d;
        }
      }
    }

    &:hover {
      background: #ef562d;
      padding-right: 26px;
      padding-bottom: 18px;
      // transition: 1.5s ease;

      @media (min-width: $desktop) {
        padding-right: 21px;
        padding-bottom: 16px;
        padding-top: 20px;
      }

      @media (min-width: $big-desktop) {
        padding-left: 27px;
        padding-right: 18px;
      }

      .price {
        width: calc(100% - 118px);
        align-items: center;
        padding-bottom: 14px;

        @media (min-width: $desktop) {
          width: calc(100% - 163px);
          padding-bottom: 16px;
        }
      }

      .title,
      .price,
      .cart {
        color: #ffffff;
      }

      .title {
        margin-top: 42px;

        @media (min-width: $desktop) {
          margin-top: 45px;
          align-self: flex-end;
        }
      }

      .img {
        display: none;
      }

      .text {
        display: flex;
      }

      .cart {
        background: transparent;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1;
        letter-spacing: 0;
        width: 118px;
        height: 50px;
        border: 1px solid #ffffff;
        display: flex;
        align-items: center;
        border-radius: 60px;

        @media (min-width: $desktop) {
          width: 163px;
          display: flex;
          align-items: center;
          justify-content: center;

          &::before {
            display: inline-flex;
          }
        }

        p {
          margin-left: auto;
          margin-right: auto;

          @media (min-width: $desktop) {
            margin: 0;
            margin-top: -1px;
            margin-left: -3px;
          }
        }
      }
    }
  }
}

.product-items .product-item.circle .img img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.product-items .product-item.best .img::before {
  content: attr(data-label);
  font-size: 8px;
  left: -24px;
  top: -30px;

  @mixin bg content/item--best.svg;
  display: flex;

  @media (min-width: $tablet) {
    font-size: 9px;
    line-height: 10px;
    font-weight: 400;
  }
}

.product-items .product-item.best.circle .img::before {
  @media (min-width: $tablet) {
    left: 0px;
    top: -26px;
  }

  @media (min-width: $desktop) {
    left: -30px;
    top: -28px;
  }
}

.product-items .product-item.new .img::before {
  content: attr(data-label);
  font-size: 12px;
  padding-left: 9px;
  box-sizing: border-box;

  @mixin bg content/item--new.svg;
  display: flex;
}

.product-items.with-options {
  .product-item {
    width: 100%;
    flex-wrap: nowrap;
    height: 150px;
    align-items: center;

    .img {
      margin-left: 0;
      margin-right: 40px;

      &::before {
        top: -15px;
        left: -15px;
      }

      img {
        width: 100px;
        height: 100px;
      }
    }

    .price {
      width: auto;
      min-width: max-content;
      height: auto;
      margin-right: auto;
    }

    .title {
      max-width: 33%;
      margin-right: auto;
    }

    .text {
      margin-right: auto;

      p {
        display: none;
      }

      a {
        flex-wrap: wrap;
        width: 90px;

        &::before {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

.product-items.short-list {
  @media (min-width: $tablet) {
    .product-item {
      width: 100%;
      flex-wrap: nowrap;
      height: 70px;
      align-items: center;
      position: relative;

      &:hover {
        padding-bottom: 0;
        padding-top: 0;
      }

      &.best .img::before {
        @mixin bg content/item--best--mini.svg;
        font-size: 5.5px;
        display: flex;
      }

      &.new .img::before {
        @mixin bg content/item--new--mini.svg;
        font-size: 7.1px;
        display: flex;
        padding-left: 6px;
      }

      .img {
        margin-left: 0;
        margin-right: 25px;
        width: 50px;
        height: 50px;

        @media (min-width: $desktop) {
          margin-right: 40px;
        }

        &::before {
          top: 0px;
          left: 0px;
          position: initial;
        }

        img {
          width: 100px;
          height: 100px;
          display: none;
        }
      }

      .price {
        width: auto;
        min-width: max-content;
        height: auto;
        margin-right: auto;
        position: absolute;
        right: 31%;
        top: 50%;
        margin-top: -10px;

        @media (min-width: $desktop) {
          right: 25%;
        }
      }

      .title {
        max-width: 33%;
        margin-right: auto;
      }

      .text {
        margin-top: auto;

        p {
          display: none;
        }

        a {
          font-size: 0;
          margin-top: 0;
          width: 60px;
          margin-right: 13px;

          @media (min-width: $desktop) {
            margin-right: 38px;
          }

          &::before {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
}

.product-items-easy {
  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
  }

  .block {
    border: 1px solid #e7e7e7;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 400px) {
      width: 50%;
    }

    &:first-child {
      border-bottom: 1px solid #e7e7e7;
    }

    &:last-child {
      border-bottom: 1px solid #e7e7e7;
    }

    img {
      max-width: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 0 0%;
      display: flex;
      max-height: 220px;
    }

    .text {
      padding: 20px;
      border-top: 1px solid #e7e7e7;
      width: 100%;

      @media (min-width: $desktop) {
        padding: 30px;
      }

      p {
        font-weight: 400;
        font-size: 18px;
        color: #4a4a4a;
        letter-spacing: 0;
        text-align: center;
      }
    }
  }
}