.owl-carousel-for-1 {
  .owl-item {
    position: relative;
    display: flex;
    width: 100%;
    height: 320px;
    height: calc(192px + 40vw);
    max-height: 430px;

    @media (min-width: $tablet) {
      max-height: 576px;
      height: calc(123px + 40vw);
    }

    @media (min-width: $desktop) {
      height: calc(126px + 44vw);
      max-height: 810px;
    }

    @media (min-width: $big-desktop) {
      height: 810px;
    }

    h2 {
      position: absolute;
      font-weight: 400;
      font-size: 48px;
      color: #000000;
      letter-spacing: 0;
      line-height: 48px;
      z-index: 1;
      top: 31px;
      left: 30px;
      max-width: 81%;

      @media (min-width: $tablet) {
        top: 61px;
        left: 50px;
      }

      @media (min-width: $desktop) {
        top: 68px;
        left: 50px;
        font-size: 72px;
        line-height: 70px;
      }

      @media (min-width: $big-desktop) {
        top: 90px;
        left: 70px;
      }
    }

    picture {
      width: 100%;

      img {
        height: 100%;
      }
    }
  }

  .owl-nav {
    display: none;

    @media (min-width: $tablet) {
      display: block;
      margin: 0;

      .owl-prev {
        background-color: rgba(136, 177, 75, 0.5);
        width: 56px;
        height: 56px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        margin-top: -28px;
        left: 29px;
        transition: 1.5s ease;

        @media (min-width: $desktop) {
          margin-top: -33px;
          left: 37px;
        }

        @media (min-width: $big-desktop) {
          margin-top: -28px;
          left: 51px;
        }

        &::before {
          @mixin bg content/slider--arrows--prev.svg;
          content: "";
          position: absolute;
          right: 0;
          top: 15px;
        }
      }

      .owl-next {
        background-color: rgba(136, 177, 75, 0.5);
        width: 56px;
        height: 56px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        margin-top: -28px;
        right: 30px;
        transition: 1.5s ease;

        @media (min-width: $desktop) {
          margin-top: -33px;
          right: 35px;
        }

        @media (min-width: $big-desktop) {
          margin-top: -28px;
          right: 51px;
        }

        &::before {
          @mixin bg content/slider--arrows--next.svg;
          content: "";
          position: absolute;
          left: 0;
          top: 15px;
        }
      }
    }
  }

  .owl-dots {
    display: none;

    @media (min-width: $desktop) {
      display: block;
      left: 44.3%;
      bottom: 22px;
      position: absolute;

      .owl-dot {
        span {
          width: 15px;
          height: 16px;
          background: #e7e7e7;
          transition: 1.5s ease;
        }

        &.active span,
        &:hover span,
        &:focus span {
          background: #ef562d;
        }
      }
    }

    @media (min-width: $big-desktop) {
      left: 46%;
    }
  }
}