.danners 
  a(href="#").block.vitamins
    .text 
      h2 Витаминные комплексы
      p.read-more Подробнее
    img(src="img/content/main/anner--vitamins.jpg" alt="")
  a(href="#").block.delivery
    .text 
      h2 Доставка
      p.read-more Подробнее
    img(src="img/content/main/anner--delivery.jpg" alt="")