.categories
  h2 Популярные категории
  .blocks
    a(href="#").block Инкубация
    a(href="#").block Овоскопы
    a(href="#").block Брудеры
    a(href="#").block Брудеры
    a(href="#").block Брудеры