.categories
  h2 Популярные категории
  .blocks
    a(href="#").block: p Инкубация
    a(href="#").block: p Овоскопы
    a(href="#").block: p Брудеры
    a(href="#").block: p Брудеры
    a(href="#").block: p Брудеры