.filters-categories.filters
  .catalog-filters__header
    .button Категории
  #filters_list  
    button.accordion Инкубация
    .content-accordion
      a(href="#") 111
      a(href="#") 222
      a(href="#") 333
    
    button.accordion Отопление
    //- .content-accordion
    //-   a(href="#") 111
    //-   a(href="#") 222
    //-   a(href="#") 333
    
    button.accordion Системы автоматического поения поения
    .content-accordion
      a(href="#") Поилки ниппельные
      a(href="#") Каплеуловители
      a(href="#") Поилки чашечные
      a(href="#") Поилки колокольные автоматические
      a(href="#") Регуляторы давления и деаэраторы деаэраторы
      a(href="#") Комплектующие и запчасти
      a(href="#") Емкости для воды
      a(href="#") Трубы
      a(href="#") Шланги
      
    button.accordion Ручное поение
    //- .content-accordion
    //-   //- a(href="#") 111
    //-   //- a(href="#") 222
    //-   //- a(href="#") 333
    
    button.accordion Кормление
    .content-accordion
      a(href="#") 111
      a(href="#") 222
      a(href="#") 333
    
    button.accordion Содержание сельхоз. животных животных и птиц
    //- .content-accordion
    //-   //- a(href="#") 111
    //-   //- a(href="#") 222
    //-   //- a(href="#") 333

    button.accordion Маркировка
    .content-accordion
      a(href="#") 111
      a(href="#") 222
      a(href="#") 333

    button.accordion Убой и переработка
    .content-accordion
      a(href="#") 111
      a(href="#") 222
      a(href="#") 333

    button.accordion Транспортировка
    .content-accordion
      a(href="#") 111
      a(href="#") 222
      a(href="#") 333

    button.accordion Термометры и гигрометры
    .content-accordion
      a(href="#") 111
      a(href="#") 222
      a(href="#") 333

    button.accordion Ветеринария
    .content-accordion
      a(href="#") 111
      a(href="#") 222
      a(href="#") 333
    
    button.accordion Литература
    .content-accordion
      a(href="#") 111
      a(href="#") 222
      a(href="#") 333
  
  




