.footer
  .info: .wrapper
    .links
      a(href="#") О компании
      a(href="#") Доставка
      a(href="#") Полезная инф.
      a(href="#") Вит.комплексы
      a(href="#") Контакты
    .categories
      a(href="#") Куры
      a(href="#") Индейки
      a(href="#") Коровы
      a(href="#") Свиньи
      a(href="#") Козы
      a(href="#") Утки, гуси, перепела
      a(href="#") Кролики
    .address-share
      .address Нижегородская область,<br>г.Дзержинск,<br>пр-т Ленина, 106/1
      .share
        p Поделиться
        a(href="#").twitter
        a(href="#").vk
        a(href="#").facebook
  .end: .wrapper
    .owner              © 2017 Комбикорма
    a(href="#").creator-company: p  Вебмеханика — создание сайта
    .creator-people     Дизайн сайта - Андрей Чикин<br>Frontend - Максим Люляев

