footer.footer
  .info: .wrapper
    nav.links
      ul
        li: a(href="#") О компании
        li: a(href="#") Доставка
        li 
          a(href="#") Полезная инф.
          ul
            li 
              a(href="#") О компании   О компании   О компании   О компании   О компании   О компании   О компании   О компании   О компании
            li 
              a(href="#") Доставка
            li 
              a(href="#") Полезная инф.  
            li 
              a(href="#") Вит.комплексы
            li 
              a(href="#") Контакты    
        li: a(href="#") Вит.комплексы
        li: a(href="#") Контакты
    nav.categories
      ul
        li: a(href="#") Куры
        li: a(href="#") Индейки
        li: a(href="#") Коровы
        li: a(href="#") Свиньи
        li: a(href="#") Козы
        li: a(href="#") Утки, гуси, перепела
        li: a(href="#") Кролики
    .address-share
      .address Нижегородская область,<br>г.Дзержинск,<br>пр-т Ленина, 106/1
      nav.share
        p Поделиться
        a(href="#").twitter
        a(href="#").vk
        a(href="#").facebook
  .end: .wrapper
    .owner              © 2017 Комбикорма
    a(href="#").creator-company: p  Вебмеханика — создание сайта
    .creator-people     <span>Дизайн сайта - Андрей Чикин</span><br><span>Frontend - Максим Люляев</span>



.remodal.callback(data-remodal-id="callback" role="dialog")
  form(name="contact" method="post" action="#")#contactform
    input(type="text" placeholder="Имя *" required).name
    input(type="tel" placeholder="Телефон *" required).tel
    .personal-data
      input(type="checkbox" id="i-agree-give-my-personal-data" required)
      label(for="i-agree-give-my-personal-data") Я даю согласие на обработку моих персональных данных
    input(type="submit" value="Заказать").submit