.header
  .logo Комбикорма
  .menu
    nav.top-menu
      ul
        li 
          a(href="#") О компании
        li 
          a(href="#") Доставка
        li 
          a(href="#") Полезная инф.
        li.more 
          a(href="#") Ещё
        li 
          a(href="#") Вит. комплексы   
        li 
          a(href="#") Контакты

      .gamburger
        .icon-menu
          .sw-topper
          .sw-bottom
          .sw-footer  
        
  .searh
    a(href="#")
  a(href="#").cart
    .icon
  a(href="#").all-product Все товары
  .tel
    a(href="tel:89506270333").number 8 950 627 03 33
    a(href="#").call Заказать звонок
  a(href="#" download).price Скачать прайс     
  .animals
    a(href="#").block
      .img
      p Куры
    a(href="#").block
      .img
      p Индейки
    a(href="#").block
      .img
      p Коровы
    a(href="#").block
      .img
      p Свиньи
    a(href="#").block
      .img
      p Козы
    a(href="#").block
      .img
      p Утки, гуси, перепела
    a(href="#").block
      .img
      p Кролики
