.header
  .logo Комбикорма
  .top-menu
    nav
      .close
        .button
      ul
        li 
          a(href="#") О компании
        li 
          a(href="#") Доставка
        li 
          a(href="#") Полезная инф.
          .submenu
          ul
            .subtitle
              p Отопление
              .down
              .close
            li 
              a(href="#") О компании   О компании   О компании   О компании   О компании   О компании   О компании   О компании   О компании
            li 
              a(href="#") Доставка
            li 
              a(href="#") Полезная инф.  
            li 
              a(href="#") Вит.комплексы
            li 
              a(href="#") Контакты    
        li 
          a(href="#") Вит. комплексы   
        li 
          a(href="#") Контакты
        li.more 
          a(href="#") Ещё
          ul
            li 
              a(href="#") Вит. комплексы   Вит. комплексы   Вит. комплексы   Вит. комплексы   Вит. комплексы   Вит. комплексы   Вит. комплексы   Вит. комплексы   Вит. комплексы   
            li 
              a(href="#") Контакты
      .tel
        a(href="tel:89506270333").number 8 950 627 03 33
        a(href="#callback").call Заказать звонок
      a(href="#" download).price Скачать прайс   

    .gamburger
      .sw-topper
      .sw-bottom
      .sw-footer  
        
  form(action="/search/" method="get").search
    input(type="search" placeholder="Что ищем?").input
    input(type="submit").submit
    .img
  a(href="#").cart
    .icon(data-label="3")
  .all-product 
    a(href="#") Все товары
    .fon    
    .menu
      
      .title
        p Каталог
        .close  
      ul
        li 
          a(href="#") Инкубация 
          .submenu
          ul
            .subtitle
              p Инкубация
              .down
              .close
            li: a(href="#") 1 1
            li: a(href="#") 1 2
        li
          a(href="#")  Отопление 
          .submenu
          ul
            .subtitle
              p Отопление
              .down
              .close
            li: a(href="#") 2 1
            li: a(href="#") 2 2
        li
          a(href="#")  Системы автоматического поения  
          .submenu
          ul
            .subtitle
              p Системы автоматического поения
              .down
              .close
            li: a(href="#") Поилки ниппельные
            li: a(href="#") Каплеуловители
            li: a(href="#") Поилки чашечные
            li: a(href="#") Поилки колокольные автоматические
            li: a(href="#") Регуляторы давления и деаэраторы
            li: a(href="#") Комплектующие и запчасти
            li: a(href="#") Емкости для воды
            li: a(href="#") Трубы
            li: a(href="#") Шланги
        li: a(href="#")  Ручное поение
        li: a(href="#")  Кормление
        li: a(href="#")   Содержание сельхоз. животных и птиц  Содержание сельхоз. животных и птиц  Содержание сельхоз. животных и птиц  Содержание сельхоз. животных и птиц  Содержание сельхоз. животных и птиц
        li: a(href="#")  Стрижка
        li: a(href="#")  Маркировка
        li: a(href="#")  Молоко
        li: a(href="#")  Убой и переработка
        li: a(href="#")  Транспортировка
        li: a(href="#")  Содержание домашних животных, птиц и рыб
        li: a(href="#")  Термометры и гигрометры
        li: a(href="#")  Ветеринария
        li: a(href="#")  Литература
        li: a(href="#")  Ловушки
        li: a(href="#")  Садовый инвентарь
        li: a(href="#")  Коптильники и сушилки
        li: a(href="#")  Гидропонные установки

  .tel
    a(href="tel:89506270333").number 8 950 627 03 33
    a(href="#callback").call Заказать звонок
  a(href="#" download).price Скачать прайс     
  nav.animals
    ul
      li 
        a(href="#")
          img(src="img/content/block--1.svg")
          p Куры
      li
        a(href="#")
          img(src="img/content/block--2.svg")
          p Индейки
      li
        a(href="#")
          img(src="img/content/block--3.svg")
          p Коровы
      li
        a(href="#")
          img(src="img/content/block--4.svg")
          p Свиньи
      li
        a(href="#")
          img(src="img/content/block--5.svg")
          p Козы
      li
        a(href="#")
          img(src="img/content/block--6.svg")
          p Утки, гуси, перепела
      li
        a(href="#")
          img(src="img/content/block--7.svg")
          p Кролики
