header.header
  .logo Комбикорма
  .top-menu
    nav
      .close
        .button
      ul
        li 
          a(href="#") О компании
        li 
          a(href="#") Доставка
        li 
          a(href="#") Полезная инф.
          .submenu
          .subtitle  Отопление
            .down
            .close
          ul            
            li 
              a(href="#") О компании   О компании   О компании   О компании   О компании   О компании   О компании   О компании   О компании
            li 
              a(href="#") Доставка
            li 
              a(href="#") Полезная инф.  
            li 
              a(href="#") Вит.комплексы
            li 
              a(href="#") Контакты    
        li 
          a(href="#") Вит. комплексы   
        li 
          a(href="#") Контакты
        li.more 
          a(href="#") Ещё
          ul
            li 
              a(href="#") Вит. комплексы   Вит. комплексы   Вит. комплексы   Вит. комплексы   Вит. комплексы   Вит. комплексы   Вит. комплексы   Вит. комплексы   Вит. комплексы   
            li 
              a(href="#") Контакты
      .tel
        a(href="tel:89506270333").number 8 950 627 03 33
        a(href="#callback").call Заказать звонок
      a(href="#" download).price Скачать прайс   

    .gamburger
      .sw-topper
      .sw-bottom
      .sw-footer  
        
  form(action="/search/" method="get").search
    input(type="search" placeholder="Что ищем?").input
    input(type="submit").submit
    .img
  .cart
    .icon(data-label="0")
    .cart-content
      .title 
        |Корзина
        .close
      .item
        img(src="img/content/main/item--3.jpg" alt="")
        .text 
          .description  БВМД Purina® 25 % ЭКО Универсальный для мясной птицы
          .amount
            .minus
            .value 2
            .plus            
          .item-price  2150 руб.
          .close
      .item
        img(src="img/content/main/item--2.jpg" alt="").circle 
        .text 
          .description  Комбикорм Purina® Финишер для водоплавающей птицы Комбикорм Purina® Финишер для водоплавающей птицы   Комбикорм Purina® Финишер для водоплавающей птицы Комбикорм Purina® Финишер для водоплавающей птицы Комбикорм Purina® Финишер для водоплавающей птицы
          .amount
            .minus
            .value 1
            .plus            
          .item-price 200 150 руб.
          .close
      .item
        img(src="img/content/main/item--4.jpg" alt="")
        .text  
          .description БВМК Purina® 15 % ЭКО для яичной птицы
          .amount
            .minus
            .value  3
            .plus            
          .item-price 27 150 руб.
          .close
      .cart-content__footer
        .make-order Оформить заказ
        .continue Продолжить покупки
        .resume
          span  Итого к оплате:
          .sum 200 658 руб.
  .all-product 
    a(href="#") Все товары
    .fon    
    .menu      
      .title
        p Каталог
        .close  
      ul
        li 
          a(href="#") Инкубация 
          .submenu
          .subtitle Инкубация
              .down
              .close
          ul            
            li: a(href="#") 1 1
            li: a(href="#") 1 2
        li
          a(href="#")  Отопление 
          .submenu
          .subtitle Отопление
              .down
              .close
          ul            
            li: a(href="#") 2 1
            li: a(href="#") 2 2
        li
          a(href="#")  Системы автоматического поения
          .submenu
          .subtitle Системы автоматического полива
              .down
              .close
          ul            
            li: a(href="#") Поилки ниппельные
            li: a(href="#") Каплеуловители
            li: a(href="#") Поилки чашечные
            li: a(href="#") Поилки колокольные автоматические
            li: a(href="#") Регуляторы давления и деаэраторы
            li: a(href="#") Комплектующие и запчасти
            li: a(href="#") Емкости для воды
            li: a(href="#") Трубы
            li: a(href="#") Шланги
        li: a(href="#")  Ручное поение
        li: a(href="#")  Кормление
        li: a(href="#")  Содержание сельхоз. животных и птиц
        li: a(href="#")  Стрижка
        li: a(href="#")  Маркировка
        li: a(href="#")  Молоко
        li: a(href="#")  Убой и переработка
        li: a(href="#")  Транспортировка
        li: a(href="#")  Содержание домашних животных, птиц и рыб
        li: a(href="#")  Термометры и гигрометры
        li: a(href="#")  Ветеринария
        li: a(href="#")  Литература
        li: a(href="#")  Ловушки
        li: a(href="#")  Садовый инвентарь
        li: a(href="#")  Коптильники и сушилки
        li: a(href="#")  Гидропонные установки

  .tel
    a(href="tel:89506270333").number 8 950 627 03 33
    a(href="#callback").call Заказать звонок
  a(href="#" download).price Скачать прайс     
  nav.animals
    ul
      li.kyrica 
        a(href="#")
          img(src="img/content/block--1.svg" alt="")
          p Куры
      li.indeika
        a(href="#")
          img(src="img/content/block--2.svg" alt="")
          p Индейки
      li.korova
        a(href="#")
          img(src="img/content/block--3.svg" alt="")
          p Коровы
      li.svin
        a(href="#")
          img(src="img/content/block--4.svg" alt="")
          p Свиньи
      li.koza
        a(href="#")
          img(src="img/content/block--5.svg" alt="")
          p Козы
      li.ytka
        a(href="#")
          img(src="img/content/block--6.svg" alt="")
          p Утки, гуси, перепела
      li.krolik
        a(href="#")
          img(src="img/content/block--7.svg" alt="")
          p Кролики
