.header
  .logo Комбикорма
  .menu
    a(href="#") О компании
    a(href="#") Доставка
    a(href="#") Полезная инф.
    a(href="#") Ещё
    a(href="#") Вит. комплексы
    a(href="#") Контакты
  .searh
  .cart
