.product-items
  h2.best Лучшие предложения
  .product-item.best.circle
    .img(data-label="ЛУЧШЕЕ ПРЕДЛОЖЕНИЕ")
      img(src="img/content/main/item--1.jpg" alt="")
    .text
      p Обменная энергия, мин 12,55<br>(3000) МДж/кг (Ккал/кг)
      p Сырой протеин, мин 16%
      p Сырой жир, мин 2,5%
      p Сырая клетчатка, мин 0,65%
      p Фосфор, мин 0,4%
      a(href="#") К сравнению
    a(href="#").title.
      БМВК Purina 15% ЭКО для яичной птицы
    .price.
      2 150 руб.
    a(href="#").cart: p В корзину
  .product-item.new.circle
    .img(data-label="НОВИНКА")
      img(src="img/content/main/item--2.jpg" alt="")
    .text
      p Обменная энергия, мин 12,55<br>(3000) МДж/кг (Ккал/кг)
      p Сырой протеин, мин 16%
      p Сырой жир, мин 2,5%
      p Сырая клетчатка, мин 0,65%
      p Фосфор, мин 0,4%
      a(href="#") К сравнению
    a(href="#").title.
      Комбикорм Purina® Финишер для водоплавающей птицы
    .price.
      2 150 руб.
    a(href="#").cart: p В корзину
  .product-item.best
    .img(data-label="ЛУЧШЕЕ ПРЕДЛОЖЕНИЕ")
      img(src="img/content/main/item--3.jpg" alt="")
    .text
      p Обменная энергия, мин 12,55<br>(3000) МДж/кг (Ккал/кг)
      p Сырой протеин, мин 16%
      p Сырой жир, мин 2,5%
      p Сырая клетчатка, мин 0,65%
      p Фосфор, мин 0,4%
      a(href="#") К сравнению
    a(href="#").title.
      БВМД Purina® 25 % ЭКО Универсальный для мясной птицы
    .price.
      2 150 руб.
    a(href="#").cart: p В корзину
  .product-item.new.circle
    .img(data-label="НОВИНКА")
      img(src="img/content/main/item--2.jpg" alt="")
    .text
      p Обменная энергия, мин 12,55<br>(3000) МДж/кг (Ккал/кг)
      p Сырой протеин, мин 16%
      p Сырой жир, мин 2,5%
      p Сырая клетчатка, мин 0,65%
      p Фосфор, мин 0,4%
      a(href="#") К сравнению
    a(href="#").title.
      Комбикорм Purina® Финишер для водоплавающей птицы
    .price.
      2 150 руб.
    a(href="#").cart: p В корзину
  .product-item.best
    .img(data-label="ЛУЧШЕЕ ПРЕДЛОЖЕНИЕ")
      img(src="img/content/main/item--3.jpg" alt="")
    .text
      p Обменная энергия, мин 12,55<br>(3000) МДж/кг (Ккал/кг)
      p Сырой протеин, мин 16%
      p Сырой жир, мин 2,5%
      p Сырая клетчатка, мин 0,65%
      p Фосфор, мин 0,4%
      a(href="#") К сравнению
    a(href="#").title.
      БВМД Purina® 25 % ЭКО Универсальный для мясной птицы
    .price.
      2 150 руб.
    a(href="#").cart: p В корзину
  a(href="#").read-more Показать ещё