.owl-carousel.owl-carousel-for-1.owl-theme
  .owl-item
    h2  Корма для кур
    picture
      source(media="(min-width: 768px)" srcset="img/content/main/slider--1.jpg")
      img(src="img/content/main/slider--1--mobile.jpg")    
  .owl-item
    h2  Заголовок 2
    img(src="img/content/main/slider--1.jpg")
  .owl-item
    h2  Заголовок 3
    img(src="img/content/main/slider--1.jpg")
  .owl-item
    h2  Заголовок 4
    img(src="img/content/main/slider--1.jpg")